<h1 class="h3 mb-4 text-gray-800">Assuntos</h1>

<button (click)="form(0)" class="btn btn-success mb-2">Novo Assunto</button>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Cod</th>
      <th>Descrição</th>
      <th style="width:200px"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let assunto of assuntos">
      <td>{{ assunto.codAs }}</td>
      <td>{{ assunto.descricao }}</td>
      <td>
        <button (click)="form(assunto.codAs)" class="btn btn-primary btn-sm mr-2">Editar</button>
        <button (click)="remover(assunto.codAs)" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
